<div class="container">
	<form (ngSubmit)="onSubmit()" >
		<h1 class='text-center'>Yalla Notlob</h1>
		
		<div class="form-group">
		  <label for="usr">Username:</label>
		  <input type="text" class="form-control" name='username' [(ngModel)]="username" id="username" required>
		</div>
		
		<div class="form-group">
		  <label for="usr">Password:</label>
		  <input type="password" class="form-control" name='password' [(ngModel)]="password" id="password" required>
		</div>

		<div class="form-group">
			<img src="assets/images/loginfacebook.png" #fb (click)="loginFacebook(fb)" style="width:200px;cursor:pointer;" >
		</div>
		
		<div class="form-group">
			<img src="assets/images/logingoogle.png" #g (click)="loginGoogle(g)" style="width:200px;cursor:pointer" >
		</div>
		
		<div class="form-group">
			<a routerLinkActive="active" routerLink="/registration" >New user? register here</a>
		</div>
		
		<div class="form-group">
			<a href="#">Fogot your password?</a>
		</div>

		<div class="form-group">
			<input type="submit" name="submit" class='btn btn-success' value="Login">
		</div>

	</form>
</div>	